@charset "utf-8";
/* SP css Document */


/* SME Segment Overview CSS*/
.dashed-border-red {border: 2px dashed #ff0000; border-radius:30px; padding:15px; margin: 15px 0; text-align: center;}
.dashed-border-red h3 {  display: inline-block;  position: relative;  top: -29px;  background: #fff;  padding: 0 13px;}
.rorate_90{-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
transform: rotate(-90deg);}
.attrition {position: relative;  bottom: -14px;}
.graph { position:relative; border-bottom:1px solid #ddd;   padding: 0 10px;}
.graph span { display:block; width:50%; float:left; position:absolute; bottom:0; border:1px solid #B9B9B9; border-bottom:none;}
.graph > div { position:relative; top: -1px;} 
.graph > div:after,
.graph:after { clear:both; content:""; display:table;}
.graph span > p {  position: absolute;  top: -20px;  color: #000;}
/* SME Segment Overview CSS end */












/* RRM Leader Portfolio Summary CSS*/
.list_breakdown { margin:0; padding: 0; display:table; width:100%;}
.list_breakdown:after { content:""; display: block; clear:both;}
.list_breakdown li { list-style-type:none; display:table-cell; vertical-align:top; padding:0 10px; width:23.444%;}
.list_breakdown li:first-child { width: 30%; } 
.portfolio_table {  height: 350px;  overflow-y: auto;}
/* RRM CSS END */

.v-middle,
td.v-middle,
.table > tbody > tr > td.v-middle { vertical-align:middle;}
.rightarrow,
.rightarrow1,
.rightarrow2 { position: relative;}
.rightarrow:after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0px;
  background:url(../img/right-arrow.png) no-repeat; 
  display: block;
  width: 26px;
  height: 72px; 
}
.rightarrow1,
.rightarrow2 {overflow: hidden; }
.rightarrow1:after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0px;
  background:url(../img/right-arrow1.png) no-repeat; 
  display: block;
  width: 26px;
  height: 72px; 
}
.rightarrow2:after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0px;
  background:url(../img/right-arrow2.png) no-repeat; 
  display: block;
  width: 26px;
  height: 72px; 
}
.font-size-14 {font-size:14px;}
.circle25 { border-radius: 25%;}
.circle50 { border-radius: 50%;}

.red2-bg { background-color:#f36a3e; color:#fff;}
.icon_play,
.icon_pdf { font-size:25px; padding:0 5px;}
.icon_play a,
.icon_pdf a { color:#222;}
.lightgreen-bg { background-color:#bcdec2;}
